<!DOCTYPE html lang="en">

<head>
    <link rel="shortcut icon" href="/public/images/b.png">
    <title>Thesaurus</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>

<body>
    <div class="page"></div>
    <script type="text/javascript" data-main="public/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
    <script>window.require || document.write('<script data-main="/public/js/main" src="/public/js/libs/require-min.js"><\/script>');</script>
    </body>
</html>
